In [18]:
#install pyodbc driver from https://docs.microsoft.com/en-us/sql/connect/odbc/windows/system-requirements-installation-and-driver-files?view=sql-server-2017#installing-microsoft-odbc-driver-for-sql-server
import pyodbc
import os
import pandas as pd
import numpy as np

server = 'adwsqlserverarash.database.windows.net'
database = 'arashdw'
username = 'arashaga'
password = 'Biashead12747>'
driver= '{ODBC Driver 17 for SQL Server}'
cnxn = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()
cursor.execute("SELECT TOP 20 FirstName from dbo.DimCustomer")
row = cursor.fetchone()
while row:
    print (str(row[0]))
    row = cursor.fetchone()

Erik
Devin
Alexandra
Russell
Edward
Ian
Derrick
Veronica
Frederick
Sheena
Roger
Andrew
Meagan
Dakota
Antonio
Kaitlyn
Logan
Billy
Ebony
Deb

Requirement already satisfied: pyodbc in c:\programdata\anaconda3\lib\site-packages (4.0.25)

In [24]:


allLines = []
path = './data'
fileList = os.listdir(path)
for file in fileList:
    #print(file)
    path_tofile =path+"/"+file
    df = pd.read_csv(path_tofile)
    for index,row in df.iterrows():
        cursor.execute("insert into dbo.Stock(Datet,Openp,HIgh,Low,Closep,AdjClose,Volume) values (?,?,?,?,?,?,?)",
        row['Date'],row['Open'],row['High'],row['Low'],row['Close'],row['Adj Close'],row['Volume'])
        cnxn.commit()
cursor.close()
cnxn.close()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2018-05-23  96.709999  98.730003  96.320000  98.660004  97.083504  21114800
1  2018-05-24  98.730003  98.940002  96.809998  98.309998  96.739098  26649300
2  2018-05-25  98.300003  98.980003  97.860001  98.360001  96.788300  18363900
3  2018-05-29  97.839996  98.879997  97.230003  98.010002  96.443893  28671000
4  2018-05-30  98.309998  99.250000  97.910004  98.949997  97.368874  22158500